{% extends "_base.html" %}

{% block content %}

  <div class="body-content">


    <div id="error" class="row"></div>
    <div id="warning" class="row"></div>
    <div id="tip" class="row"></div>
    <div id="summary" class="row">


    </div>

    <div class="row">

      <div>
        <h2>商户配置数据</h2>
      </div>

      <div id="merchantCfgDataToolbar">
        <div class="form-inline" role="form">
          {% if current_user.is_authenticated and current_user.id|int <=1 %}
            <button id="batchLogin" type="button" class="btn btn-info" data-toggle="tooltip"
                    onclick="batchLogin()"
                    title="为了避免电脑卡顿，默认一次打开若干个新页面，自动选择未登录的账号，请完成登录后，刷新并重新点击再次打开剩余账号">
              <span class="glyphicon glyphicon-user"></span>批量登录
            </button>
          {% endif %}
          <button id="closeAll" type="button" class="btn btn-danger" onclick="closeAll()" data-toggle="tooltip"
                  title="用来关闭selenium打开的页面，也可以清除页面上的提示框">
            <span class="glyphicon glyphicon-trash"></span>批量清除
          </button>

          <span data-toggle="tooltip" title="若商户全掉线了，可以打开该开关，尝试用缓存数据。默认1小时刷新一次缓存数据。">
            <input type="checkbox" name="swith-cache">
          </span>


          <div class="form-group input-group" style="padding-left: 150px">
            <span>下载日期：</span>
            <div class="input-group">
              <div class="input-icon-group">
                <div class="input-group" style="width:100%">
                  <input id="orderDownloadDate" name="orderDownloadDate" class="form-control"
                         style="width: 100px;" data-provide="datepicker" data-toggle="tooltip" title="默认选择昨天日期">
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar" style="display: inline;"></span>
                </span>
                </div>
              </div>
            </div>
            <button id="batchDownload" type="button" class="btn btn-warning" onclick="batchDownload()"
                    data-toggle="tooltip" title="下载当前已登录的所有商户数据，自动跳过session无效的">
              <span class="glyphicon glyphicon-download-alt"></span> 一键下载
            </button>
            <button class="btn btn-success" type="button" style="width: auto; margin-left: 5px"
                    data-toggle="tooltip" title="请下载完需要的商户数据后，再点击合并"
                    onclick="mergeOrderDatas()"><span class="glyphicon glyphicon-screenshot"></span>合并商户订单
            </button>
          </div>
          {#          <div class="form-group">#}
          {#            <span>Limit: </span>#}
          {#            <input name="limit" class="form-control w70" type="number" value="5">#}
          {#          </div>#}
        </div>
      </div>
      {% if current_user.is_authenticated and current_user.id|int <=1 %}
        <table id="merchantCfgData" data-toggle="table" data-mobile-responsive="true">
          <thead>
          <tr>
            <th data-sortable="true">简称</th>
            {% if current_user.is_authenticated and current_user.id|int ==0 %}
              <th data-sortable="false">登录账户</th>
            {% endif %}
            <th data-sortable="true">MCC</th>
            <th data-sortable="false">全称</th>
            <th data-sortable="false">SessionId</th>
            <th data-sortable="true">状态</th>
            <th data-sortable="false">操作</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      {% endif %}
    </div>


    <div class="row">
      <h2>统计数据</h2>
      <table id="summaryData" data-toggle="table" data-mobile-responsive="true">
        <thead>
        <tr>
          <th data-sortable="true">门店名称</th>
          <th data-sortable="true">交易日期</th>
          <th data-sortable="true">总订单金额</th>
          <th data-sortable="true">总消费立减金额</th>
          <th data-sortable="true">总积分抵扣金额</th>
          <th data-sortable="true">总电子券抵扣金额</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h2>订单详细数据</h2>
      <table id="ordersData" data-toggle="table" data-mobile-responsive="true">
        <thead>
        <tr>
          <th data-sortable="false">门店名称</th>
          <th data-sortable="false">订单编号</th>
          <th data-sortable="true">交易日期</th>
          {#<th data-sortable="true">交易时间</th>#}
          <th data-sortable="true">交易卡号</th>
          <th data-sortable="true">订单金额</th>
          <th data-sortable="false">消费立减金额</th>
          {#<th>净收金额</th>#}
          <th data-sortable="false">积分抵扣金额</th>
          <th data-sortable="false">电子券抵扣金额</th>
          <th data-sortable="false">交易类型</th>
          <th data-sortable="true">交易方式</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="mergeResModal">
      <div class="modal-dialog" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            {#            <button type="button" class="close" onclick="window.history.go(-1);">×</button>#}
            <h4 class="modal-title" style="color: red;">合并商户数据结果统计</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert">
              <span>总订单数据共<b><span id="mergeTotalCount" style="color: red"></span></b>条。
                <div>合并后文件：</div>
                <b><span id="mergeDstPath" style="color: red">目标文件</span></b>
              </span>
            </div>

            <div>
              <table id="mergeResData" data-toggle="table" data-mobile-responsive="true">
                <thead>
                <tr>
                  <th data-sortable="false" data-width="40%">商户名称</th>
                  <th data-sortable="true">订单数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="button" style="width: auto; margin-left: 5px"
                    data-toggle="tooltip" title="检查没问题后，再按需导出已合并好的excel文件"
                    onclick="exportExcel()"><span class="glyphicon glyphicon-export"></span>导出合并后的文件
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">关 闭</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript">
      var merchantCfgDataTable = $('#merchantCfgData');
      var summaryDataTable = $('#summaryData');
      var ordersDataTable = $('#ordersData');
      var mergeResData = $('#mergeResData');

      // 参考： http://blog.csdn.net/ning521513/article/details/60744749
      var exportOptions = {
          fileName: 'merchants',
          jsonScope: 'data'
      };

      function initMerchantCfgData() {
          merchantCfgDataTable.bootstrapTable('destroy');
          merchantCfgDataTable.bootstrapTable({
              method: 'get',
              url: '/merchant_info',
              dataType: 'json',
              clickToSelect: true,
              pagination: true,   //是否分页
              cache: false,
              uniqueId: 'logonId',
              pageSize: 25,
              striped: true,
              showRefresh: true,
              search: true,
              sidePagination: 'client', // 客户端分页
              showExport: false, // 先不用插件来导出数据了，直接从后台获取
              exportDataType: 'all',
              exportTypes: ['json'],  //导出文件类型
              toolbar: "#merchantCfgDataToolbar",
              exportOptions: exportOptions,
              columns: [{
                  field: 'alias',
                  cellStyle: thinTdStyle
              },
                  {% if current_user.is_authenticated and current_user.id|int ==0 %}
                      {
                          field: 'logonId',
                          cellStyle: thinTdStyle
                      },
                  {% endif %}
                  {
                      field: 'mcc',
                      align: 'center',
                      cellStyle: thinTdStyle
                  }, {
                      field: 'storeName',
                      cellStyle: thinTdStyle
                  }, {
                      field: 'sessionId',
                      cellStyle: thinTdStyle
                  }, {
                      field: 'status',
                      align: 'center',
                      formatter: statusFormatter,
                      cellStyle: thinTdStyle
                  }, {
                      field: 'operate',
                      align: 'center',
                      valign: 'middle',
                      formatter: operateFormatter,
                      events: window.operateEvents
                  }],
              onLoadSuccess: function (data) {
                  console.info("加载商户配置数据成功" + JSON.stringify(data));
                  $("[data-toggle='tooltip']").tooltip();
              },
              onLoadError: function () {
                  alert("加载商户配置数据失败");
              }
          })
      }

      function thinTdStyle(value, row, index) {
          return {
              css: {
                  "padding-right": "2px",
                  "padding-left": "2px"
              }
          }
      }

      function statusFormatter(value, row, index) {
          if (row['status']) {
              return '<span class="status-ok glyphicon glyphicon-ok-circle" aria-hidden="true"></span>';
          } else {
              return '<span class="status-bad glyphicon glyphicon-remove-circle" aria-hidden="true"></span>';
          }
      }

      function operateFormatter(value, row, index) {

          var loginTip = ['<a class="login" href="javascript:void(0)">',
              '<button class="btn btn-info" style="padding-top:0px; padding-bottom:0px; margin-left: 5px;" data-toggle="tooltip" title="当前账号未登录，请在弹出的新页面登录" >登录</button></a>'].join('');
          if (row['status']) {
              loginTip = ['<a class="login" href="javascript:void(0)">',
                  '<button class="btn btn-success" style="padding-top:0px; padding-bottom:0px; margin-left: 5px;" data-toggle="tooltip" title="该账号已登录，点击查看详情">查看</button></a>'].join('');
          }

          return ['<div>',
              loginTip,
              '<a class="download" href="javascript:void(0)">',
              '<button class="btn btn-warning" style="padding-top:0px; padding-bottom:0px; margin-left: 5px;" data-toggle="tooltip" title="请登录成功后，再下载，此处为下载单个账号">下载</button></a>',
              '</div>'
          ].join('');
      }

      function closeAlert() {
          $(".alert-dismissable").fadeTo(2000, 500).slideUp(1000, function () {
              $(".alert-dismissable").slideUp(500);
              $(".alert").alert("close");
          });
      }

      function showError(error, close) {
          if (error) {
              var errorEle = $('#error');
              var errorHtml = errorEle.html() +
                  ['<div class="alert alert-danger alert-dismissable">',
                      '<button type="button" class="close" title="Close" href="#" data-dismiss="alert">&times;</button>',
                      error,
                      '</div>'].join('');
              errorEle.html(errorHtml);
          }
          if (close) {
              closeAlert();
          }
      }

      function showWarning(msg, close) {
          if (msg) {
              var warningEle = $('#warning');
              var errorHtml = warningEle.html() +
                  ['<div class="alert alert-warning alert-dismissable">',
                      '<button type="button" class="close" title="Close" href="#" data-dismiss="alert">&times;</button>',
                      msg,
                      '</div>'].join('');
              warningEle.html(errorHtml);
              if (close) {
                  closeAlert();
              }
          }
      }

      function showTip(tip, close) {
          if (tip) {
              var tipEle = $('#tip');
              var tipHtml = tipEle.html() +
                  ['<div class="alert alert-success alert-dismissable">',
                      '<button type="button" class="close" title="Close" href="#" data-dismiss="alert">&times;</button>',
                      tip,
                      '</div>'].join('');
              tipEle.html(tipHtml);
              if (close) {
                  closeAlert();
              }
          }
      }

      function showSummary(msg, close) {
          if (msg) {
              var ele = $('#tip');
              var eleHtml = ele.html() +
                  ['<div class="alert alert-success alert-dismissable">',
                      '<button type="button" class="close" title="Close" href="#" data-dismiss="alert">&times;</button>',
                      msg,
                      '</div>'].join('');
              ele.html(eleHtml);
              if (close) {
                  closeAlert();
              }
          }
      }

      window.operateEvents = {
          'click .login': function (e, value, row, index) {
              var logonId = row['logonId'];
              var alias = row['alias'];
              $.ajax({
                  type: 'POST',
                  url: '/batch_order/manual_login',
                  data: {
                      logonId: logonId
                  },
                  dataType: 'json',
                  success: function (data) {
                      console.info("登录" + logonId + "成功");
                      if (!data['status']) {
                          showError(data['error']);
                      }
                  },
                  error: function (e) {
                      console.error("手动登录" + logonId + "失败", e);
                      showError("手动登录失败[" + alias + logonId + "]" + e);
                  }
              });

          },
          'click .download': function (e, value, row, index) {
              var logonId = row['logonId'];
              var orderDownloadDate = getDownloadDate();
              var enableCache = getEnableCache();
              $.ajax({
                  type: 'POST',
                  data: {
                      'orderDownloadDate': orderDownloadDate,
                      'logonId': logonId,
                      'enableCache': enableCache
                  },
                  url: '/batch_order/download_order',
                  success: function (data) {
                      {#console.info("商户数据下载成功logonId" + logonId + "，data=" + JSON.stringify(data));#}
                      if (data.status) {
                          if (data.summary) {
                              reloadSummaryData(data.summary);
                          }
                          if (data.orders) {
                              reloadOrdersData(data.orders);
                          }
                          refreshMerchntCfgTable();
                      } else {
                          showError(data.error);
                      }
                      if (data.tip) {
                          showTip(data.tip);
                      }
                  },
                  error: function (e) {
                      showWarning("商户数据下载成功logonId错误" + JSON.stringify(e));
                  }
              });
          }
      };

      function batchLogin() {
          $.ajax({
              type: 'GET',
              url: '/batch_order/batch_login',
              success: function (data) {
                  if (data.status) {
                      console.info("批量登录成功，登录id为" + data);
                      if (data.data.length > 0) {
                          showTip("批量打开[" + data.data + "],请手动到弹出的网页输入密码,验证码");
                      } else {
                          showWarning("所有商户均已登录，无需登录，忽略！")
                      }
                  } else {
                      console.error("批量登录失败" + data);
                      showError("批量登录失败，请重试！" + data);
                  }
              },
              error: function (e) {
                  console.error("批量登录失败" + data);
                  showError("批量登录失败，请重试！");
              }
          });
      }

      function closeAll() {
          $.ajax({
              type: 'GET',
              url: '/batch_order/close_all_drivers',
              success: function (data) {
                  if (data > 0) {
                      console.info("关闭成功" + data);
                      showTip("成功关闭了" + data + "个由selenium打开的页面", true);
                  }
                  // 测试用方便关闭所有通知
                  closeAlert();
              },
              error: function (e) {
                  showWarning("尝试关闭所有selenium打开的页面失败，可以手动关闭剩余页面!");
              }
          });
      }

      function batchDownload() {
          console.info("一键下载，只会下载session生效的");
          var orderDownloadDate = getDownloadDate();
          var enableCache = getEnableCache();
          $.ajax({
              type: 'POST',
              url: '/batch_order/download_all',
              data: {
                  'orderDownloadDate': orderDownloadDate,
                  'enableCache': enableCache
              },
              success: function (data) {
                  if (data.summary) {
                      reloadSummaryData(data.summary);
                  }
                  if (data.orders) {
                      reloadOrdersData(data.orders);
                  }

                  if (data.warnings.length > 0) {
                      showWarning(data.warnings.join('；<br>'));
                  }
                  if (data.tip) {
                      showTip(data.tip);
                  }
                  if (data.errors.length > 0) {
                      showError(data.errors[0]);
                  }
              },
              error: function (e) {
                  showError("合并商户数据异常" + JSON.stringify(e));
              }
          });
      }

      function mergeOrderDatas() {
          console.info("合并商户订单");
          var orderDownloadDate = getDownloadDate();
          $.ajax({
              type: 'POST',
              url: '/batch_order/merge',
              data: {
                  'orderDownloadDate': orderDownloadDate
              },
              success: function (data) {
                  if (data.status) {
                      showMergeResModal(data.data);
                  } else {
                      showError(data.error);
                  }
              },
              error: function (e) {
                  showError("合并商户数据异常" + JSON.stringify(e));
              }
          });
      }

      function exportExcel() {
          var orderDownloadDate = getDownloadDate();
          var exportTmpForm = $("<form method='get'></form>");
          exportTmpForm.attr("action", "/batch_order/export/" + orderDownloadDate);
          $(document.body).append(exportTmpForm);
          exportTmpForm.submit();
      }

      function initDataPicker() {
          var now = new Date();
          var yesterday = new Date();
          yesterday.setDate(now.getDate() - 1);
          var orderDownloadDatePicker = $('#orderDownloadDate');
          orderDownloadDatePicker.datepicker({
              minView: "day", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
              language: "zh-CN", // 语言
              autoclose: true, //  true:选择时间后窗口自动关闭
              format: 'yyyy-mm-dd', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00
              todayBtn: "linked", // 如果此值为true 或 "linked"，则在日期时间选择器组件的底部显示一个 "Today" 按钮用以选择当前日期。
              endDate: now, // 窗口可选时间从今天开始
              orientation: "bottom",    //方向
              todayHighlight: true,
              weekStart: 0
          });
          orderDownloadDatePicker.datepicker("update", yesterday);
      }

      function initSummaryData() {
          summaryDataTable.bootstrapTable('destroy');
          summaryDataTable.bootstrapTable({
              clickToSelect: true,
              pagination: true,   //是否分页
              pageSize: 25,
              striped: true,
              sidePagination: 'client', // 客户端分页
              cache: false,
              columns: [{
                  field: 'storeName',
                  cellStyle: thinTdStyle
              }, {
                  field: 'orderDate',
                  cellStyle: thinTdStyle
              }, {
                  field: 'totalAmount',
                  cellStyle: thinTdStyle
              }, {
                  field: 'totalDisAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'totalPointAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'totalEcouponAmt',
                  cellStyle: thinTdStyle
              }]
          });
      }

      function initOrdersData() {
          ordersDataTable.bootstrapTable('destroy');
          ordersDataTable.bootstrapTable({
              clickToSelect: true,
              pagination: true,   //是否分页
              pageSize: 25,
              pageList: [10, 25, 100],
              striped: true,
              sidePagination: 'client', // 客户端分页
              search: true,
              cache: false,
              columns: [{
                  field: 'storeName',
                  cellStyle: thinTdStyle
              }, {
                  field: 'orderId',
                  cellStyle: thinTdStyle
              }, {
                  field: 'orderTimeFull',
                  cellStyle: thinTdStyle
              }, {
                  field: 'cardNo',
                  cellStyle: thinTdStyle
              }, {
                  field: 'orderAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'disAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'pointAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'ecouponAmt',
                  cellStyle: thinTdStyle
              }, {
                  field: 'tranType',
                  cellStyle: thinTdStyle
              }, {
                  field: 'tranWay',
                  cellStyle: thinTdStyle
              }]
          });
      }


      function initMergeResTable() {
          mergeResData.bootstrapTable('destroy');
          mergeResData.bootstrapTable({
              clickToSelect: true,
              pagination: true,   //是否分页
              pageSize: 25,
              pageList: [10, 25, 100],
              striped: true,
              sidePagination: 'client', // 客户端分页
              cache: false,
              columns: [{
                  field: 'storeName',
                  cellStyle: thinTdStyle
              }, {
                  field: 'totalCount',
                  cellStyle: thinTdStyle
              }]
          });
      }

      function getDownloadDate() {
          return $('#orderDownloadDate').val();
      }

      function reloadSummaryData(data) {
          summaryDataTable.bootstrapTable("load", data);
      }

      function reloadOrdersData(data) {
          ordersDataTable.bootstrapTable("load", data);
      }

      function showMergeResModal(data) {
          reloadMergeData(data);
          $('#mergeResModal').modal({show: true, backdrop: 'static'});

      }

      function refreshMerchntCfgTable() {
          merchantCfgDataTable.bootstrapTable('refresh');
      }

      function reloadMergeData(data) {
          // 路径和总数显示
          console.info(data);
          $('#mergeDstPath').html(data.dst);
          $('#mergeTotalCount').html(data.totalCount);
          // 表格数据
          mergeResData.bootstrapTable("load", data.datas);
      }

      /**
       * 统计当前已登录商户数据等
       */
      function summaryCurrentMerchantData() {
          $.ajax({
              type: 'GET',
              url: '/summary_info',
              success: function (data) {
                  console.info(data);
                  var msg = "当前商户数据总数：" + data['totalMerchant'] + ",已登录商户数：" + data['totalValidMerchant'];
                  var online_time = data['online_time'];
                  var offline_time = data['offline_time'];
                  var allDataUpdateAt = data['allDataUpdateAt'];
                  if (online_time) {
                      msg += "， 最近上线时间：" + online_time
                  }
                  if (offline_time) {
                      msg += "， 离线时间：" + offline_time
                  }

                  if (allDataUpdateAt) {
                      msg += ", 缓存数据最后更新时间：" + allDataUpdateAt;
                  }
                  showSummary(msg);
              },
              error: function (e) {
                  showError("获取统计信息异常" + JSON.stringify(e));
              }
          });
      }

      function initSwitchCache() {
          var switchCache = $("[name='swith-cache']");
          switchCache.bootstrapSwitch('state', 'true');
          switchCache.bootstrapSwitch('size', 'normal');
          switchCache.bootstrapSwitch('onColor', 'success');
          switchCache.bootstrapSwitch('offColor', 'warning');
          {#switchCache.bootstrapSwitch('onText', '实时');#}
          {#switchCache.bootstrapSwitch('offText', '缓存');#}
          {#switchCache.bootstrapSwitch('labelText', '实时数据');#}
      }

      function getEnableCache() {
          return !$("[name='swith-cache']").bootstrapSwitch('state');
      }

      $(document).ready(function () {
          $.ajaxSetup({
              cache: false //关闭AJAX缓存
          });
          initSwitchCache();
          initMerchantCfgData();
          summaryCurrentMerchantData();
          initSummaryData();
          initOrdersData();
          initMergeResTable();
          initDataPicker();
          // 启用tooltip
          $("[data-toggle='tooltip']").tooltip();
      });

  </script>

{% endblock %}
