{% extends "_base.html" %}

{% block content %}

  <div class="body-content">

    <div class="row">
      <h2>登录工行网站</h2>
      <button id="loginIcbc" class="btn btn-info" onclick="loginIcbc()">工银商户之家登录</button>
    </div>

    <div class="row">
      <h2>下载商户订单数据</h2>

      <form name="orderForm" class="form-inline" action="/order" method="post">
        <div class="">
          <div class="input-group">
            <input type="hidden" name="actionType" value="download">
            <input id="sessionId" name="sessionId" type="text" style="width: 400px" class="form-control"
                   placeholder="请输入登录后的JSESSIONID" value="{{ session_id or '' }}">
            <input id="orderDownloadDate" name="orderDownloadDate" class="form-control"
                   style="padding-left: 10px; width: 100px;" data-provide="datepicker">
            <button class="btn btn-info" type="button" style="width: auto;"
                    onclick="order_form_button_click('download')">下载详细订单
            </button>
            <button class="btn btn-success" type="button" style="width: auto; margin-left: 10px"
                    onclick="order_form_button_click('merge')">合并商户订单
            </button>
          </div>
          <div><i>例子： 0000hde2j_6BiuIVhbHZSv4EEQb:-1</i></div>
          <div><i>下载指定日期: 如2018-01-03</i></div>
        </div>
      </form>

    </div>
    <br>
    <div class="row">
      {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}
    </div>

    {% if action_type == 'download' %}
      <div class="row">
        {% if session_id %}
          <div class="alert alert-info" role="alert">
            <span>本次请求输入的session：<b>{{ session_id }}</b></span>
          </div>
        {% endif %}
      </div>

      {% if merchant_summary %}
        <div class="row">
          <table data-toggle="table">
            <thead>
            <tr>
              <th>门店名称</th>
              <th>交易日期</th>
              <th>总订单金额</th>
              <th>总消费立减金额</th>
              <th>总积分抵扣金额</th>
              <th>总电子券抵扣金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ merchant_summary.store_name  or '' }}</td>
              <td>{{ merchant_summary.order_date  or '' }}</td>
              <td>{{ merchant_summary.total_amount  or '' }}</td>
              <td>{{ merchant_summary.total_dis_amt  or '' }}</td>
              <td>{{ merchant_summary.total_point_amt  or '' }}</td>
              <td>{{ merchant_summary.total_ecoupon_amt  or '' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      {% endif %}

      {# http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/#%E8%A1%A8%E6%A0%BC%E5%8F%82%E6%95%B0 #}
      {% if order_details %}
        <div class="row">
          <table data-toggle="table" data-search="true"
                 data-pagination="true" data-mobile-responsive="true"
                 data-show-toggle="false" data-page-size=20
                 data-striped="true">
            <thead>
            <tr>
              <th data-sortable="false">订单编号</th>
              <th data-sortable="false">交易日期</th>
              {#<th data-sortable="true">交易时间</th>#}
              <th data-sortable="true">交易卡号</th>
              <th data-sortable="true">订单金额</th>
              <th data-sortable="false">消费立减金额</th>
              {#<th>净收金额</th>#}
              <th data-sortable="false">积分抵扣金额</th>
              <th data-sortable="false">电子券抵扣金额</th>
              <th data-sortable="false">交易类型</th>
              <th data-sortable="false">交易方式</th>
            </tr>
            </thead>
            <tbody>
            {% for order_detail in order_details %}
              <tr>
                <td>{{ order_detail.order_id  or '' }}</td>
                {#<td>{{ order_detail.order_date or '' }}</td>#}
                <td>{{ order_detail.order_time_full or '' }}</td>
                <td>{{ order_detail.card_no or '' }}</td>
                <td>{{ order_detail.order_amt  or '' }}</td>
                <td>{{ order_detail.dis_amt  or '' }}</td>
                <td>{{ order_detail.point_amt  or '' }}</td>
                <td>{{ order_detail.ecoupon_amt  or '' }}</td>
                <td>{{ order_detail.tran_type  or '' }}</td>
                <td>{{ order_detail.tran_way  or '' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endif %}

    {% if action_type == 'merge' %}
      {% if merge_res and not merge_res.error and merge_res.detail %}
        <div class="row">
          {% if merge_res.src %}
            <div class="alert alert-info" role="alert">
              <span>源文件：<b>{{ merge_res.src }}</b></span>
            </div>
          {% endif %}
          {% if merge_res.dst %}
            <div class="alert alert-success" role="alert">
              <span>总订单数据共{{ merge_res.total_count }}条。 合并文件：<b>{{ merge_res.dst }}</b></span>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <table data-toggle="table" data-pagination="true" data-mobile-responsive="true"
                 data-show-toggle="false" data-page-size=20 data-striped="true">
            <thead>
            <tr>
              <th data-sortable="false" data-width="40%">商户名称</th>
              <th data-sortable="true">订单数</th>
            </tr>
            </thead>
            <tbody>
            {% for merchant_name in merge_res.detail %}
              <tr>
                <td>{{ merchant_name  or '' }}</td>
                <td>{{ merge_res.detail[merchant_name]  or '' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endif %}


    <div class="modal fade" id="icbcModal">
      <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            {#            <button type="button" class="close" onclick="window.history.go(-1);">×</button>#}
            <h4 class="modal-title" style="color: red;">工银商户之家登录</h4>
          </div>
          <div class="modal-body">
            <iframe id="icbcFrame" width="100%" height="500px" frameborder="0"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关 闭</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script type="text/javascript">
      $(document).ready(function () {
          {#console.log('ok!');#}
          var now = new Date();
          var yesterday = new Date();
          yesterday.setDate(now.getDate() - 1);

          var orderDownloadDatePicker = $('#orderDownloadDate');
          orderDownloadDatePicker.datepicker({
              minView: "day", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
              language: "zh-CN", // 语言
              autoclose: true, //  true:选择时间后窗口自动关闭
              format: 'yyyy-mm-dd', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00
              todayBtn: "linked", // 如果此值为true 或 "linked"，则在日期时间选择器组件的底部显示一个 "Today" 按钮用以选择当前日期。
              endDate: now, // 窗口可选时间从今天开始
              orientation: "bottom",    //方向
              todayHighlight: true,
              weekStart: 0
          });

          {% if not download_date %}
              // 第一次初始化未设置时，默认选择昨日
              orderDownloadDatePicker.datepicker("update", yesterday);
          {% else %}
              // if (!orderDownloadDatePicker.val()) {
              //     orderDownloadDatePicker.datepicker("setDate", yesterday);
              // }
              if (!orderDownloadDatePicker.val()) {
                  orderDownloadDatePicker.datepicker("update", {{ download_date | tojson | safe }});
              }
          {% endif %}

      });

      function order_form_button_click(val) {
          document.orderForm.actionType.value = val;
          document.orderForm.submit();
      }

      function loginIcbc() {
          var frameSrc = "https://biz.elife.icbc.com.cn/businessHomeLogin/loginPage.action";
          $("#icbcFrame").attr("src", frameSrc);
          $('#icbcModal').modal({show: true, backdrop: 'static'});
      }


  </script>

{% endblock %}
