<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- meta -->
  <meta name="description" content="中国第一玩卡">
  <meta name="author" content="karl.zj">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- styles -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet"
        media="screen">
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='datepicker/bootstrap-datepicker.min.css') }}" rel="stylesheet"
        media="screen">
  <link href="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet"
        media="screen">
  <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript" media="screen"></script>
  {% block css %}{% endblock %}

</head>

<body>

{% include 'header.html' %}

<div class="site-content">
  <div class="container">

    <!-- messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <br>
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}


    <!-- child template -->
    {% block content %}{% endblock %}

    <br>

    <!-- errors -->
    {#    {% if error %}#}
    {#      <div class="alert alertdanger-success" role="alert"><b>错误:</b> {{ error }}</div>#}
    {#    {% endif %}#}

  </div>
</div>

<br><br>

{% include 'footer.html' %}

<!-- scripts -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"
        media="screen"></script>
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript" media="screen"></script>
<script src="{{ url_for('static', filename='datepicker/bootstrap-datepicker.min.js') }}" type="text/javascript"
        media="screen"></script>
<script src="{{ url_for('static', filename='datepicker/bootstrap-datepicker.zh-CN.min.js') }}" type="text/javascript"
        media="screen"></script>
<script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table.min.js') }}" type="text/javascript"
        media="screen"></script>
<script src="{{ url_for('static', filename='bootstrap-table/bootstrap-table-zh-CN.min.js') }}" type="text/javascript"
        media="screen"></script>
<script src="{{ url_for('static', filename='bootstrap-table/extensions/export/bootstrap-table-export.min.js') }}"
        type="text/javascript" media="screen"></script>
<script src="{{ url_for('static', filename='tableExport.js') }}" type="text/javascript" media="screen"></script>

{% block js %}{% endblock %}

</body>
</html>
